/* Keyframes */
@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* General document panels styling */
.document-panels {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* Individual document panel styling */
.document-panel {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    width: 100%;
}

/* Dark Mode - General */
body.dark-mode {
    animation: gradient-bg 15s ease infinite;
    background: linear-gradient(270deg, rgb(20, 30, 48), rgb(36, 59, 85), rgb(20, 30, 48));
    background-image: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85));
    background-size: 200% 200%;
    border-radius: 8px;
    color: #fff;
}

body.dark-mode a {
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC;
}

body.dark-mode a:hover {
    text-shadow: 0 0 10px #BB86FC, 0 0 20px #BB86FC, 0 0 30px #BB86FC;
}

/* Dark Mode - Header */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5 {
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC;
}

body.dark-mode .breadcrumb ol li:before {
    content: "";
    width: 20px;
    height: 10px;
    position: absolute;
    background-image: url(https://cdn.public.lu/dam-assets/ctie/icons/chevron.svg);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  

body.dark-mode #main-wrapper > article > header {
    display: flex;
    background-color: #1E1E1E;  /* Dark background */
    color: #BB86FC;  /* Light text */
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 5px #BB86FC;  /* Text shadow for better readability */
    align-items: center;
  }
  
  body.dark-mode #main-wrapper > article > header > * {
    flex-grow: 1;
  }
  
  

body.dark-mode #govbar {
    background-color: rgb(36, 59, 85);
    border-radius: 4px;
    color: #fff;
}

body.dark-mode #govbar .govbar-logo img {
    filter: invert(1);
}




/* Dark Mode - Breadcrumb links */
body.dark-mode .breadcrumb a:hover, 
body.dark-mode .breadcrumb a:link, 
body.dark-mode .breadcrumb a:visited {
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC;
}


/* Dark Mode - Navigation */
body.dark-mode nav.page-headernav {
    background-image: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85));
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
/* Dark Mode - Navigation Continued */
body.dark-mode #headernav-title {
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

body.dark-mode .page-headernav .nav-section--primary .nav ul a {
    color: #BB86FC !important;
}

/* Your Custom Styles */
.page-headernav .nav-section--primary .nav .nav-item--citizen .subnav-item--active > a {
    background: blueviolet !important;
    color: #fff;
    text-decoration: none;
}

/* Dark Mode - Page Content */
body.dark-mode .page-content,
body.dark-mode .page-title,
body.dark-mode .main-container,
body.dark-mode .page-text {
    background-image: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85));
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

/* Dark Mode - Footer */
body.dark-mode .footer {
    background-color: #1E1E1E;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Dark Mode - Buttons */
body.dark-mode .btn {
    background-color: #BB86FC;
    border-radius: 4px;
    color: #000;
}

body.dark-mode .btn--process {
    background: #BB86FC;
    border-radius: 4px;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

body.dark-mode .btn--process:hover {
    background: #9A56D8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
}

/* Dark Mode - Document */
body.dark-mode .document-description {
    color: #fff;
    padding: 16px;
}

body.dark-mode .document-description strong {
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC;
}

body.dark-mode .document-panel {
    background-image: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85));
}

/* Dark Mode - Miscellaneous */
body.dark-mode .custom-geoportail-container {
    background-color: rgb(20, 30, 48);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
}

body.dark-mode .document-action {
    background-image: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

body.dark-mode .document-action-content img {
    filter: invert(1);
}

body.dark-mode .geoportail-addresses {
    background-color: rgb(20, 30, 48);
}

body.dark-mode .messenger {
    background-color: rgb(202, 166, 37);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
}

body.dark-mode .page-langs {
    background-color: rgb(20, 30, 48);
}

body.dark-mode .page-logo img {
    filter: invert(1);
}

body.darkmode .subnav-item--active a {
    background-color: yellow;
}

body.dark-mode .vcard {
    background-color: rgb(36, 59, 85);
    border-radius: 4px;
    color: #fff;
    margin-bottom: 16px;
    padding: 8px;
}

body.dark-mode .vcard-actions a {
    color: #BB86FC;
}

body.dark-mode .vcard-actions .icon {
    fill: #BB86FC;
}

body.dark-mode .vcard-item {
    color: #fff;
}

body.dark-mode .vcard-title,
body.dark-mode .vcard-parent-title {
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC;
}
